@import "./../../Styles/variables.scss";

.CheckoutProductCard {
	height: 200px;
	width: 65%;
	display: flex;
	flex-direction: row;
	margin: 0.5em;
	border-radius: 10px;
	background-color: white;
}
.ProductImgHolder {
	height: 200px;
	width: 200px;
	border-radius: 10px 0px 0px 10px;
	&_Img {
		width: 100%;
		height: 100%;
		border-radius: 10px 0px 0px 10px;
	}
}

.CartDetails {
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
	margin-left: 1em;
	width: 55%;
	position: relative;
	&_ProductName {
		font-family: $silly;
		color: $orange;
		font-size: 1.6em;
		letter-spacing: 0.1em;
		margin-bottom: 0.5em;
	}
	&_Sizing {
		font-family: $default;
		font-size: 1.2em;
		font-weight: 700;
		margin-bottom: 0.5em;
	}
	&_ProductPrice {
		font-family: $default;
		font-size: 1.2em;
		font-weight: 500;
		display: inline-block;
		&_Original {
			display: inline;
			color: red;
			text-decoration: line-through;
			margin-right: 5px;
		}
		&_Current {
			display: inline;
		}
	}
}

.InCartBtn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: 1.5em 0em 1em;
	font-family: $default;
	font-size: 1em;
	font-weight: 800;
	border: 3px solid $dark-purple;
	border-radius: 10px;
	position: absolute;
	bottom: 0px;
	&_Btns {
		background-color: $dark-purple;
		color: white;
		border: none;
		font-family: $default;
		font-size: 1.6em;
		width: 15%;
		padding: 0px 15px;
	}
	&_Quantity {
		align-self: center;
		font-size: 1.5em;
	}
}
