@import "./../../Styles/variables.scss";

.ProductCard {
	border: 1px solid $light-grey;
	border-radius: 8px;
	width: 18%;
	height: 490px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	position: relative;
}

.ProductImgHolder {
	height: 300px;
	overflow: hidden;
	&_Img {
		width: 260px;
		max-width: 100%;
		height: 300px;
		overflow: hidden;
		border-radius: 7px 7px 0px 0px;
	}
}

.ProductName {
	font-family: $silly;
	color: $orange;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	margin: 0.25em;
	text-align: center;
}

.ProductPrice {
	font-family: $default;
	font-size: 1.2em;
	font-weight: 300;
	margin-bottom: 0.5em;
}

.NavLink {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	align-items: center;
	position: absolute;
	bottom: 0;
}

.BuyNow {
	background-color: $light-grey;
	color: black;
	font-family: $default;
	font-size: 1em;
	border: none;
	border-radius: 10px;
	width: 80%;
	margin-bottom: 1em;
	padding: 10px 0px;
	&:hover {
		background-color: $dark-purple;
		color: white;
	}
}
