@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

//Colour Scheme
$orange: #ffa41a;
$purple: #8100ff;
$dark-purple: #6312b3;
$green: #14cc52;
$dark-green: #09b342;

//Fonts
$default: "Lato", sans-serif;
$silly: "DynaPuff", cursive;
