@import "./../../../Styles/variables";

.FooterContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: auto;
}

.Main {
	width: 100%;
	display: flex;
	flex-direction: row nowrap;
	justify-content: space-around;
	background-color: $dark-green;
	font-family: $default;
	padding: 2em 0em;
	&_Subheading {
		color: white;
		font-family: $silly;
		font-weight: 500;
		font-size: 1.5em;
		margin-bottom: 0.5em;
	}
	&_Para {
		font-size: 0.9em;
		text-align: justify;
		line-height: 1.3em;
		color: white;
	}
	&_Links {
		color: white;
		margin-bottom: 0.5em;
		text-decoration: none;
		&:hover {
			color: $purple;
			text-decoration: underline;
		}
	}
}

.Subscribe {
	width: 40%;
	&_Signup {
		height: 40px;
		border: 2px solid $dark-purple;
		margin-bottom: 1em;
		&_Input {
			border: none;
			padding: 0px 0px 0px 10px;
			width: calc(80% - 10px);
			height: 100%;
			position: relative;
			top: -1px;
		}
		&_Button {
			background-color: $dark-purple;
			color: white;
			border: none;
			width: 20%;
			height: 100%;
			font-size: 1em;
		}
	}
}

.Company {
	width: fit-content;
	padding: 0em 1em;
	display: flex;
	flex-direction: column;
}

.Support {
	width: fit-content;
	padding: 0em 1em;
	display: flex;
	flex-direction: column;
}

.BottomLine {
	width: 100%;
	display: grid;
	grid-template-columns: 33% 34% 33%;
	align-items: center;
	font-family: $default;
	&_Para {
		color: $dark-purple;
		margin-left: 1em;
		font-size: 0.9em;
		font-weight: 300;
	}
	&_Logo {
		height: 50px;
		justify-self: center;
	}
	&_SocialMedia {
		justify-self: end;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-right: 1em;
		&_Icon {
			height: 30px;
			margin: 0px 10px;
			border-radius: 10px;
		}
	}
}
